{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "brace-style": ["error", "stroustrup"],
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": "error",
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-unused-vars": "error",
    "indent": ["error", 2],
    "no-tabs": "error"
  }
}
